<a href="https://colab.research.google.com/github/dan9133/Python_Advance_Solutions/blob/main/Python_Advanced_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def count_char(s):

    count_chars = {}

    for char in s:
        if char in count_chars:
            count_chars[char] += 1
        else:
            count_chars[char] = 1

    for char, count in count_chars.items():
        print(f'{char} comes in {count} times')

In [ ]:
input_string = 'hhhhhppppprrrrhhh'
count_char(input_string)

h comes in 8 times
p comes in 5 times
r comes in 4 times

In [ ]:
for i in range(100):
    print(i)

In [ ]:
i = 1
while(i<100):
    print(i)
    i = i + 1

In [ ]:
i = 1
n = 100
while True:
    print(i)
    i = i + 1
    if i==n:
        break

In [ ]:
def print1(n):
    print(n)
    if n<99:
        print1(n+1)

In [ ]:
print1(1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
def fact(n):
    fac = 1
    while (n>0):
        fac = fac * n
        n = n -1
    return fac

In [ ]:
num = int(input("Enter the number you want"))
fact(num)

Enter the number you want5

120

In [ ]:
def fact1(n):
    if n<=1:
        return 1
    else:
        return n * fact1(n-1)

In [ ]:
fact1(5)

120

In [ ]:
def funt1():
    print("First item")
    print(10)

    print("Second item")
    print(20)

    print("Third item")
    print(30)

In [ ]:
funt1()

First item
10
Second item
20
Third item
30

In [ ]:
def funt1():
    print("First item")
    yield 10

    print("Second item")
    yield 20

    print("Third item")
    yield 30

In [ ]:
obj = funt1()

In [ ]:
obj

In [ ]:
funt1()

In [ ]:
next(obj)

First item

10

In [ ]:
next(obj)

Second item

20

In [ ]:
s = 'space'

In [ ]:
for i in s:
    print(i)

s
p
a
c
e

In [ ]:
s1 = iter(s)

In [ ]:
next(s1)

's'

In [ ]:
next(s1)

'p'

In [ ]:
find_max = lambda x,y : x if x>y else y

In [ ]:
find_max(45,89)

89

In [ ]:
add = lambda x,y : x+y

In [ ]:
add(45,89)

134

In [ ]:
l = [2,4,6,8,13,17,19]

In [ ]:
list(map(lambda x: x**2,l))

[4, 16, 36, 64, 169, 289, 361]

In [ ]:
a = 10
def test():
    global a
    a = a + 20
    print(a)

In [ ]:
test()
a

50

50

In [ ]:
x = 89
def A():
    x = 20
    def B():
        global x
        x = 88
    print("Before calling B", x)
    B()
    print("AFter calling B", x)

In [ ]:
A()
x

Before calling B 20
AFter calling B 20

88

In [ ]:
d = {'Name':'Raj','Age':25}

In [ ]:
list(d.items())

[('Name', 'Raj'), ('Age', 25)]

In [ ]:
class test1:

    pass

In [ ]:
obj = test1()

In [ ]:
class odin:

    def Wel_msg(self):
        print("Welcome to Odin School")

In [ ]:
sourav = odin()

In [ ]:
print(type(sourav))

<class '__main__.odin'>

In [ ]:
sourav.Wel_msg()

Welcome to Odin School

In [ ]:
print(type(8))

<class 'int'>

In [ ]:
class odinS:

    def __init__(sam, name, mobileno, mail):
        sam.Name = name
        sam.ContactNO = mobileno
        sam.Email  = mail

    def get_details (sam):
        return sam.Name, sam.ContactNO, sam.Email

In [ ]:
max = odinS('Max', 9897656467, 'max@gmail.com')

In [ ]:
max.Name

'Max'

In [ ]:
max.Email

'max@gmail.com'

In [ ]:
max.get_details()

('Max', 9897656467, 'max@gmail.com')

In [ ]:
len('Delhi')

5

In [ ]:
len([1,2,45,76,78,89.78])

6

In [ ]:
def add(a, b):
    return a + b

In [ ]:
add(67,89)

156

In [ ]:
add('Tom',' Cruise')

'Tom Cruise'

In [ ]:
class car:

    def __init__(self,make, model,speed,year):
        self.__Make = make
        self.__Model = model
        self.__Speed = speed
        self.__Year = year

    def get_details(self):
        return self.__Make, self.__Model, self.__Speed, self.__Year

In [ ]:
ca_ob = car('Maruti','K10',120,'2022')

In [ ]:
ca_ob.get_details()

('Maruti', 'K10', 120, '2022')

In [ ]:
ca_ob._car__Make

'Maruti'

In [ ]:
ca_ob._car__Model

'K10'

In [ ]:
class Bank_balance:

    def __init__(self,balance):
        self.__balance = balance

    def deposit (self, amount):
        self.__balance = self.__balance + amount

    def withdraw (self, amount):
        if amount>self.__balance:
            return False
        else:
            self.__balance = self.__balance - amount
            return True

    def get_balance(self):
        return self.__balance

In [ ]:
bank_obj = Bank_balance(10000)

In [ ]:
bank_obj.get_balance()

10000

In [ ]:
bank_obj.deposit(5000)

In [ ]:
bank_obj.get_balance()

15000

In [ ]:
bank_obj.withdraw(20000)

False

In [ ]:
bank_obj.withdraw(8000)

True

In [ ]:
bank_obj.get_balance()

7000

In [ ]:
class test1:

    def test11(self):
        print("THis is class 1")

In [ ]:
class test2(test1):

    def test22(self):
        print("THis is class 2")

In [ ]:
class test3(test2):

    def test33(self):
        print("THis is a class 3")

In [ ]:
obj_3 = test3()

In [ ]:
obj_3.test11()

THis is class 1

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame(np.random.randint(100,size=(10,3)))

In [ ]:
df

    0   1   2
0  86  58  73
1  82  69  53
2  20  68  35
3  73  75  60
4  19  17  86
5  80  58  51
6  86  90   4
7  96  28  86
8  18   2  75
9  82  46  86

In [ ]:
df.iloc[2 , 1]

68

In [ ]:
df.head()

    0   1   2
0  86  58  73
1  82  69  53
2  20  68  35
3  73  75  60
4  19  17  86

In [ ]:
df.tail()

    0   1   2
5  80  58  51
6  86  90   4
7  96  28  86
8  18   2  75
9  82  46  86

In [ ]:
df.mean(axis=1)

0    72.333333
1    68.000000
2    41.000000
3    69.333333
4    40.666667
5    63.000000
6    60.000000
7    70.000000
8    31.666667
9    71.333333
dtype: float64

In [ ]:
df = pd.read_csv('stud.csv')

In [ ]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [ ]:
df.isnull().sum()

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

In [ ]:
df[['']]